body{
    font-family: "Roboto";
}

html{
  font-size: 1px;
}

option{
  white-space: normal;
}

/*.bprd_logo {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav-about a {
    float: none;
    position: absolute;
    left: 30%;
    top: 3.5vw;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .topnav-data a {
    float: none;
    position: absolute;
    left: 41%;
    top: 3.5vw;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .topnav-glossary a {
    float: none;
    position: absolute;
    left: 52%;
    top: 3.5vw;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .topnav-our-partners a {
    float: none;
    position: absolute;
    left: 66%;
    top: 3.5vw;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .topnav-Join-Us a {
    float: none;
    position: absolute;
    left: 80%;
    top: 3.5vw;
    transform: translate(-50%, -50%);
    font-size: 30rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
  } */

  .imagediv {
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  } 

.dopo-heading{
    font-size: 65rem;
    text-align: center;
    color: #DD5634;
    margin-top: 200rem;
    margin-left: 80rem;
}

.homepage-photo{
    float: left;
    margin-left: 20rem;
    padding-right: 20rem; /*isme size nahi hai */
}

.homepage-text-1{
    margin-right: 20rem;
    font-size: 30rem;
    font-weight: 500;
}

.homepage-text-2{
    margin-left: 20rem;
    font-size: 30rem;
    font-weight: 500;
}
  
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 12px;
  color: #000000;
  font-size: 30px;
  background: #F4CEB8;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  margin-left: 100px;
  margin-top: 50px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 100px;
  width: 20%;
  text-align: center;
}    

.select select {
      font-family: 'Roboto';
      font-size: 20rem;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      /* padding: 10px 15px; */
      outline: 0;
      border: 1px solid #000000;
      border-radius: 10px;
      background: #F4CEB8;
      color: #000000;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-align: center;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #000000;
          background: #F4CEB8;
      }
      .select select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }

/* .select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #000000;
} */
option{
    width: 5%;
    white-space:pre-wrap;
    word-wrap: break-word;
    font-size: 15rem;
}

.image{
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.top-nav .nav-items{
  display:flex;
}

.mainbody{
  margin-top: 00rem;
} 

/* Testing hamburger */

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index:+1;
  margin-top: -200rem;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 100rem;

  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


.navnav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen {
  
}








\*     footer   \*


/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700); */

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
